<% include ../partials/header %>

<div class="container">
 <header class="jumbotron">
  <h1>Check out our most popular campgrounds!</h1>
  <p>Hand-picked by users like you.</p>
  <a href="/campgrounds/new" class="btn btn-large btn-primary">Add Campground</a>
 
 </header>

 <div class="row" style="display: flex; flex-wrap: wrap;" >
  <% campground.forEach(function(campground){ %>
   <div class="col-sm-6 col-md-3 mb-4">
    <div class="card h-100 mw-50">
    <a href="/campgrounds/<%= campground._id %>">
      <img class="card-img-top index-img" src="<%= campground.image %>"></img>
    </a>
     <div class="card-body h-50">
      <div class="text-center">
        <h5 class="card-title"><%= campground.name %></h5>
        <p class="card-subtitle text-black-50">By <%= campground.author.username%></p>
      </div>
     </div>
    </div>
   </div>
      
  <% }); %>
 </div>
  <a href="/">Home</a>
</div>
<% include ../partials/footer %>